<footer>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }}</title>
        <style>
            html,body{
                position:absolute;     
                width:100%;     
                bottom:0;
            }
        </style>
    </head>
    <body class="body" style="text-align:center;">
        <a href="https://beian.miit.gov.cn/">备案号：京ICP备2021039036号-1.</a>
    </body>
</footer>
