<!DOCTYPE html>

<html>

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <style>
        html,body{
            max-width: 1000px;
            margin: 0 auto;
            text-align: left;
        }
    </style>
  </head>

<section>
    <div class="body"> 
	  {%- include header.html -%}
      <h1>{{ page.title }}</h1>
      {{ content }} 
    </div>
    <div>
		{%- include footer.html -%}
    </div>
</section>

</html>
