<!DOCTYPE html>

<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
    tex2jax: {
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
    inlineMath: [['$','$']]
    }
});
</script>

<div style="display: flex; justify-content: space-between;">
    <a href="{{site.url}}" style="text-decoration: none; font-size: 20px;">Home</a>
    <a href="https://github.com/wa008" style="text-decoration: none; font-size: 20px;">GitHub</a>
</div>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ page.title }}</title>
		<style>
			html,body{
				max-width: 800px;
				margin: 0 auto;
				text-align: left;
			}
		</style>
	</head>
	<body class="body">
		<div> 
			<h1><center>{{ page.title }}</h1></center>
			{{ content }} 
		</div>
	</body>
</html>


<script src="https://giscus.app/client.js"
        data-repo="wa008/wa008.github.io"
        data-repo-id="R_kgDOIa0pkQ"
        data-category="General"
        data-category-id="DIC_kwDOIa0pkc4ChoAW"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
