---
layout: page
# All the docss of posts
---

{% include lang.html %}

{% assign HEAD_PREFIX = 'h_' %}
{% assign LIST_PREFIX = 'l_' %}

{% assign group_index = 0 %}

{% assign sort_docs = site.docss | sort %}

{% for docs in sort_docs %}
  {% assign docs_name = docs | first %}
  {% assign posts_of_docs = docs | last %}
  {% assign first_post = posts_of_docs | first %}

  {% if docs_name == first_post.docss[0] %}
    {% assign sub_docs = '' | split: '' %}

    {% for post in posts_of_docs %}
      {% assign second_docs = post.docss[1] %}
      {% if second_docs %}
        {% unless sub_docs contains second_docs %}
          {% assign sub_docs = sub_docs | push: second_docs %}
        {% endunless %}
      {% endif %}
    {% endfor %}

    {% assign sub_docs = sub_docs | sort %}
    {% assign sub_docs_size = sub_docs | size %}

    <div class="card docss">
      <!-- top-docs -->
      <div
        id="{{ HEAD_PREFIX }}{{ group_index }}"
        class="card-header d-flex justify-content-between hide-border-bottom"
      >
        <span class="ms-2">
          <i class="far fa-folder{% if sub_docs_size > 0 %}-open{% endif %} fa-fw"></i>

          {% capture _docs_url %}/docss/{{ docs_name | slugify | url_encode }}/{% endcapture %}
          <a href="{{ _docs_url | relative_url }}" class="mx-2">{{ docs_name }}</a>

          <!-- content count -->
          {% assign top_posts_size = site.docss[docs_name] | size %}
          <span class="text-muted small font-weight-light">
            {% if sub_docs_size > 0 %}
              {{ sub_docs_size }}
              {% if sub_docs_size > 1 %}
                {{
                  site.data.locales[lang].docss.docs_measure.plural
                  | default: site.data.locales[lang].docss.docs_measure
                }}
              {% else %}
                {{
                  site.data.locales[lang].docss.docs_measure.singular
                  | default: site.data.locales[lang].docss.docs_measure
                }}
              {% endif -%}
              ,
            {% endif %}

            {{ top_posts_size }}

            {% if top_posts_size > 1 %}
              {{
                site.data.locales[lang].docss.post_measure.plural
                | default: site.data.locales[lang].docss.post_measure
              }}
            {% else %}
              {{
                site.data.locales[lang].docss.post_measure.singular
                | default: site.data.locales[lang].docss.post_measure
              }}
            {% endif %}
          </span>
        </span>

        <!-- arrow -->
        {% if sub_docs_size > 0 %}
          <a
            href="#{{ LIST_PREFIX }}{{ group_index }}"
            data-bs-toggle="collapse"
            aria-expanded="true"
            aria-label="{{ HEAD_PREFIX }}{{ group_index }}-trigger"
            class="docs-trigger hide-border-bottom"
          >
            <i class="fas fa-fw fa-angle-down"></i>
          </a>
        {% else %}
          <span data-bs-toggle="collapse" class="docs-trigger hide-border-bottom disabled">
            <i class="fas fa-fw fa-angle-right"></i>
          </span>
        {% endif %}
      </div>
      <!-- .card-header -->

      <!-- Sub-docss -->
      {% if sub_docs_size > 0 %}
        <div id="{{ LIST_PREFIX }}{{ group_index }}" class="collapse show" aria-expanded="true">
          <ul class="list-group">
            {% for sub_docs in sub_docs %}
              <li class="list-group-item">
                <i class="far fa-folder fa-fw"></i>

                {% capture _sub_ctg_url %}/docss/{{ sub_docs | slugify | url_encode }}/{% endcapture %}
                <a href="{{ _sub_ctg_url | relative_url }}" class="mx-2">{{ sub_docs }}</a>

                {% assign posts_size = site.docss[sub_docs] | size %}
                <span class="text-muted small font-weight-light">
                  {{ posts_size }}

                  {% if posts_size > 1 %}
                    {{
                      site.data.locales[lang].docss.post_measure.plural
                      | default: site.data.locales[lang].docss.post_measure
                    }}
                  {% else %}
                    {{
                      site.data.locales[lang].docss.post_measure.singular
                      | default: site.data.locales[lang].docss.post_measure
                    }}
                  {% endif %}
                </span>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
    <!-- .card -->

    {% assign group_index = group_index | plus: 1 %}
  {% endif %}
{% endfor %}
