<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title> Informal's blog </title>
		<style>
html,posts{
	width: 500px;
	margin: 0 auto;
	text-align: left;
}
		</style>
	</head>

	{%- include header.html -%}
	<section class="posts">
		<ul>
			{% for post in site.posts %}
			<li>
				<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
				<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
			</li>
			{% endfor %}
		</ul>
	</section>
	<div>
		{%- include footer.html -%}
	</div>
</html>
